body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.pdf-viewer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.pdf-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pdf-pagination p {
  margin-right: 10px;
}

.pdf-buttons button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.pdf-buttons button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}